@import './components/variables';
@import 'custom-variables';

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column;  
  justify-content: flex-start;
  min-height: 100vh;
}

.center-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.padding {
  padding: $space;
}

.main-padding {
  padding-top: $space-xl;
  padding-bottom: $space-jumbo;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
}

.primary-color-text {
  color: $primary-color;
}

.primary-color-l-text {
  color: $primary-color-light;
}

.primary-color-d-text {
  color: $primary-color-dark;
}

.secondary-color-text {
  color: $secondary-color;
}

.secondary-color-bg {
  background: $secondary-color;
}

.secondary-color-pale-text {
  color: transparentize($secondary-color, .5);
}

.secondary-color-pale-bg {
  background: transparentize($secondary-color, .5);
}

.disabled-color-text {
  color: $button-disabled-color;
}

.danger-text {
  color: $error-color;
}

.github-bg {
  background: #24292e;
}

.linkedin-bg {
  background: #0077B5
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  li {
    margin: $space-large;
  }
}