@import './components/variables';
@import 'custom-variables';

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column;  
  padding-top: $space-xl;
  padding-bottom: $space-jumbo;
  justify-content: flex-start;
  min-height: 100vh;
}

.center-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.padding {
  padding: $space;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
}