// colors
// $primary-color: ;
// $primary-color-light: ;
// $primary-color-dark:
// $secondary-color:
// $secondary-color-light:
// $secondary-color-dark:
// $on-primary-color:
// $on-secondary-color:
// $shadow-color:
// $error-color:

// sizes
$space-small: 5px;
$space: 10px;
$space-large: 25px;

$space-jumbo: 130px;
$space-xl: 80px;